.title {
  font-size: 16px;
  padding: 8px 15px;
  margin-bottom: 8px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .title {
    font-size: 14px;
  }
}
