.heading {
    text-align: center;
    font-size: 6rem;
    color: var(--accent-color1);
}

.subheading {
    text-align: center;
    font-size: 2rem;
    color: var(--accent-color2);
}

.text {
    text-align: center;
    font-size: 1.2rem;
    color: var(--accent-color2);
    margin-top: 20px;
}

.link{
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: var(--accent-color1);
    color: var(--accent-color3);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    max-width: max-content;
    &:hover {
        background-color: var(--accent-color4);
    }
}

.image {
    display: block;
    margin: 30px auto;
    width: 200px;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}