.pageContainer {
  padding: 40px 0;
}

.pageTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.layoutGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: 992px) {
    grid-template-columns: 3fr 1fr;
    align-items: start;
  }
}

.contentColumn {
  // Основна колонка
}

.sidebarColumn {
  // Сайдбар
    position: relative;
}